# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.manifest
*.spec

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Byte-compiled
*.pyc
*.pyo
*$py.class

# Coverage
.coverage
htmlcov/

# Env
.env
env.local
